.post-card{
    margin-top: 1rem;
    padding: 2rem 0;
    border-bottom: 0.1px solid rgb(225 228 232/1);
    font-size: 19px;
}

.action-items{
    display: flex;
    justify-content: space-around;
    margin-top:1rem;
    font-size: 15px;
}

.action-items button{
    background-color: white;
    width:min-content;
    border:none;
    cursor: pointer;
}

.action-items .like-container{
    display: flex;
}

.like-container p{
    margin-top: 3.5px;
    padding-left: 5px;
}

.fill-icon{
    color: #27ae60;
}

.post-edit-delete{
    display:flex;
    justify-content:space-between;
    position: relative;
}

.edit-delete{
    background: none;
    border: none;
    text-align: right;
    margin-right:0;
    width: auto;
}

.options-modal{
    position: absolute;
    width: fit-content;
    display:flex;
    flex-direction: column;
    top:0.5rem;
    right:-2rem;
    width: fit-content;
    border:1px solid black
}

.options-modal button{
    text-align: start;
    width: 4rem;
    padding: 8px;
    border:none;
    background-color: white;
}

.options-modal button:hover{
    background-color: #27ae60;
}

.avatar-container{
    display:flex;
    justify-content: flex-start;
}

.avatar{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    cursor: pointer;
    border:1px solid #27ae60;
}

.post-user-details{
    margin: 0 1rem;
}

.post-user-details > *{
    padding-bottom: 1rem;
}

.post-header{
    display:flex;
    justify-content: space-between;
    cursor: pointer;
} 

.update-post-btn{
    background-color: #27ae60;
   color: white;
   width: 5rem;
   height: 2rem;
   border-radius: 0.25rem;
   font-weight: bolder;
   cursor: pointer;
}