*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: sans-serif;
}

.App {
  height: 100%;
}

.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.col{
  border: 0.1px solid rgb(225 228 232/1);
  border-bottom: none;
  border-left: none;
  height: 100vh;
}

.col-one{
  width: 15%;
}

.col-two{
  width: 45%;
}

.col-three{
  width: 24%;
}

.display-content{
  border-bottom: 0.1px solid rgb(225 228 232/1);
}

.content-heading{
  font-size: 16px;
  font-weight: bolder;
  padding: 10px;
  margin: 8.3px;
}

.main-content{
  height: 100vh;
  margin: 2rem;
}

.login-signup{
  display: flex;
  justify-content:flex-end;
  text-align: right;
  border-bottom: 0.1px solid rgb(225 228 232/1);
  padding-right: 1.5rem;
}

.login-signup button{
  padding: 10px;
  margin: 7px;
  text-align: center;
  color: white;
  border-radius: 0.25rem;
  font-weight: bolder;
  font-size: 16px;
}

.login-signup .login-btn{
  background-color: #444d56;
}

.login-signup .signup-btn{
  background-color: #27ae60;
}

li{
  list-style-type: none;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: #f1f1f1; 
    padding: 14px 28px;
    border-radius: 3px;
    width: 40rem;
    z-index: 999;
  }

  .modal-content > *{
    padding: 4px;
  }

  .modal-heading{
    display: flex;
    justify-content: space-between;
  }

  .meta-media{
    margin: 2rem;
  }

  .meta-media h1{
    text-decoration: underline;
  }

  .meta-media-details > *{
    padding: 1rem;
  }

  .meta-media-details p{
    font-size: 25px;
  }

  .meta-media-details li{
    font-size: 22px;
  }

  .meta-media-details li:hover{
    color:#27ae60;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
  }

  .banner{
    width: 100%;
    margin-top: 5rem;
  }