.profile-header-image{
    position: relative;
}

.profile-header-image .background-image{
    width: 100%;
    height: 19rem;
}

.profile-header-image .profile-avatar{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 3px solid #27ae60;
    position: absolute;
    left: 2rem;
    top: 15rem;
}

.profile-content{
    margin: 0 2rem;
}

.user-heading{
    display:flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.bio-info{
    font-size: 18px;
}

.bio-info > *{
    margin: 1rem 0;
}

.edit-profile-btn{
    padding: 10px;
    margin: 7px;
    text-align: center;
    color: white;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: 16px;
    background-color: #444d56;
    cursor: pointer;
}

.edit-profile-form > *{
    display: block;
}

.followers-following{
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.followers-following b{
   margin-right: 0.2rem;
}

.followers-following p{
    margin-right: 2rem;
}

.update-profile-btn{
   margin: 1rem 0;
   background-color: #27ae60;
   color: white;
   width: 5rem;
   height: 2rem;
   border-radius: 0.25rem;
   font-weight: bolder;
   cursor: pointer;
}