.profile-avatar{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 2px solid #27ae60;
}

.bio-info{
    margin: 2rem 0;
    font-size: 18px;
}

.bio-info > *{
    margin: 1rem 0;
}

.user-heading{
    display:flex;
    justify-content: space-between;
}

.edit-profile-btn{
    padding: 10px;
    margin: 7px;
    text-align: center;
    color: white;
    border-radius: 2rem;
    font-weight: bolder;
    font-size: 16px;
    background-color: #444d56;
    cursor: pointer;
}

.edit-profile-form > *{
    display: block;
}